<form method="post" action="/api/question" >
    <p>Hãy hỏi cộng đồng 1 câu đúng hoặc sai </p>
    <input class="input" type="text" name="question"/>
    <a>Con 200/200 ky tu</a>
    <input class="button_submit" type="submit" value="Gửi"/>
</form>