<h3>{{question}}</h3>
<form action="/api/question/{{id}}" method="post">
    <div class="row">
        <button class="col-md-4 button_yes" name="yes" value=1><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Có / Đúng / Phải</button>
        <button  class="col-md-4 button_no" name="no" value=1><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Sai / Không / Traí</button>
    </div>
</form>