<h3>{{question}}</h3>
<h4>C贸: {{Yes}}</h4>
<h4>Kh么ng: {{No}}</h4>
<form action="/api/question/{{id}}" method="post">
<button name="yes" value=1>C贸</button>
<button name="no" value=1>Kh么ng</button>
</form>