<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Simonetta:400,900|Balthazar">
    <link rel="stylesheet" type="text/css" href="../../styles.css">
    <link rel="stylesheet" type="text/css" href="../../responsive.css">
    <link rel="stylesheet" type="text/css" href="../../menu.css">
</head>
<body>
<nav class="menu">
    <span onclick="location='/'">Trang Chủ</span>
    <span onclick="location='/about'">About</span>
    <span onclick="location='/ask'">Ask</span>
</nav>
{{{body}}}
</body>
</html>