.menu{
    background:#D5b0ac;
    color:#402e2a;
    font-weight: bold;
    text-align: center;
}
.menu_vertical{
    display: inline-block;
}
.menu span{
    display: inline-block;
    width:100px;
    line-height: 30px;
}
.menu span:hover{
    background: chartreuse;
    cursor: pointer;
}
.menu_vertical span{
    display: block;

}
